
.chart-one{
    margin-left: -10px;
   margin-top: 30px;
   margin-bottom: 20px;
   font-size: 32px;
   font-weight: bold;
}

.detail-main{
    display: flex;
    margin-bottom: 10px;
   
}

.detail-img{
    border-radius: 40px;
    width: 55px;
    height: 55px;
    margin-left: 10px;
    margin-top: -12px;
}
.detail-icon{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-left: -12px;
    margin-top: 16px;
}
.detail-let{
   
    margin-left: 8px;
    font-size: 18px;
    font-weight: 450;
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

    .chart-one{
        margin-left: -10px;
       margin-top: 30px;
       margin-bottom: 20px;
       font-size: 32px;
       font-weight: bold;
    }

}
@media screen and (min-width: 992px) and (max-width: 1199px) {

    .chart-one{
        margin-left: -10px;
       margin-top: 30px;
       margin-bottom: 20px;
       font-size: 32px;
       font-weight: bold;
    }


}
@media screen and (min-width: 768px) and (max-width: 991px) {

    .chart-one{
        margin-left: -10px;
       margin-top: 30px;
       margin-bottom: 20px;
       font-size: 26px;
       font-weight: bold;
    }

}
@media screen and (min-width: 576px) and (max-width: 767px) {

    .chart-one{
        margin-left: -10px;
       margin-top: 30px;
       margin-bottom: 20px;
       font-size: 22px;
       font-weight: bold;
    }

}
