.Hotbid-one {
  margin-left: 60px;
  margin-top: 30px;
}

.card-main {
  margin-top: 20px;
  border-radius: 20px;
  width: 16rem;
  height: 27rem;
}

.card-main .main-img {
  margin: 0 auto;
  margin-top: -20px;
  margin-left: -2.5px;
  border-radius: 10px;
  margin-bottom: 8px;
  height: 200px;
  width: 225px;
}
.card-p1 {
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.card-p2 {
  color: rgb(46, 161, 255);
  font-weight: bold;
}

.btn-para {
  display: flex;
  margin-top: -15px;
}

.btn-para .btn-heart {
  margin-top: -9px;
  margin-left: 90px;
  border-radius: 10px;
  height: fit-content;
}

.dotted-bar {
  margin-top: 20px;
  margin-bottom: 43px;
  
 
}

.dotted-bar .btn2-dotted {
  margin-left: 110px;
  border-radius: 25px;
  margin-top: 0px;
    position: absolute;
}
 .dotted-bar .circle-img {
  border-radius: 30px;
  margin-left: 12px;
  height: 40px;
  transition: 0.3s;
  width: 40px;
}
 .circle-img11 {
  border-radius: 30px;
  margin-left: -12px;
  width: 40px;
  transition: 0.3s;
  height: 40px;
  margin-top: 0px;
}
.dotted-bar .icon-circle {
  margin-left: -10px;
  margin-top: 20px;
}

.circle-img:hover {
    transform: translate(0, -10px);
    position: relative;    
}
.circle-img11:hover {
    
    transform: translate(0, -10px);
    position: relative;    
}

.something{
  position: relative;
}

.something .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;

  left: 0;
    top: -55px;
    margin-left: -30px;

}

.something:hover .tooltiptext {
  visibility: visible;
}